.UserOutput{
    width: 60%;
    padding: 16px;
    margin: 16px;
    border: 2px solid black;
    box-shadow: 2px #cccccc;
    background-color: #ccc;
    align-content: center;
    text-align: center;
}